[Desktop Entry]
Encoding=UTF-8
Categories=Office
Exec=com-pake-restcloud
Icon=com-pake-restcloud
Name=com-pake-restcloud
Name[zh_CN]=RestCloud
StartupNotify=true
Terminal=false
Type=Application
